* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* margin-top: 10%; */
    padding-top: 50px;
    outline: 2px solid red;
    height: 100vh;

    display: flex;
    justify-content: space-around;
}

.player1, .player2 {

    outline: 2px solid black;
    height: 500px;
    width: 500px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid-element1, .grid-element2 {
    outline: 1px solid black;
}

.grid-element1:hover {
    background-color: rgb(211, 211, 211);
}

.grid-element2 {
    background-color: gray;
}

.grid-element2:hover {
    background-color: rgb(179, 179, 179);
}

.hit {
    background-color: red;
}

.miss {
    background-color: blue;
}

.ship {
    background-color: green;
}